body {
    /* min-height: 1000vh; */
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* général */
h2 {
  font-size: 35px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* menu burger */
#burger-menu {
    position: fixed;
    top: 5vh;
    left: 95vw;
    cursor: pointer;
    height: 27px;
    width: 27px;
    overflow: visible;
    z-index: 2;
    display: block;
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: black;
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 35px;
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 35px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 35px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 35px;
  }
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 35px;
  }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }

/* info */
.info {
  width: 50vw;
  height: 12vh;
  background-color: rgb(255, 107, 132, 0.5);
  position: absolute;
  top: 5vh;
  left: 28vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid white;
  border-radius: 16px;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.info h2 {
  font-size: 40px;
}
  
/* menu */
  #menu {
    z-index: 1;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  #menu.overlay {
    visibility: visible;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
  }


/* Map dans hamburger */
.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain ;
  z-index: -1;
}

.point a {
  text-decoration: none;
}

.point a i {
  font-size: 7vh;
  color: rgb(255, 107, 132);
  cursor: pointer;
}

.point:hover {
  animation-play-state: paused;
}

.profil_point {
  position: absolute;
  top: 45vh;
  left: 49vw;
  animation: float 2s infinite;
}

.shop_point {
  position: absolute;
  top: 68.5vh;
  left: 50.5vw;
  animation: float 2s infinite;
  animation-delay: 0.5s;
}

.defis_point {
  position: absolute;
  top: 20vh;
  left: 41.5vw;
  animation: float 2s infinite;
  animation-delay: 1s;
}

.reseau_point {
  position: absolute;
  top: 59.5vh;
  left: 40.5vw;
  animation: float 2s infinite;
  animation-delay: 1.5s;
}

.dashboard_point {
  position: absolute;
  top: 31vh;
  left: 61.5vw;
  animation: float 2s infinite;
  animation-delay: 2s;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* text-container */
@keyframes slideIn {
  0% { opacity: 0; transform: translateX(-20px); }
  100% { opacity: 1; transform: translateX(0); }
}

.point:hover::before {
  content: attr(data-text);
  position: absolute;
  top: -5vh; 
  left: -2.5vw;
  transform: translateX(-50%);
  background-color: rgb(255, 107, 132, 0.9); 
  color: white; 
  font-weight: bold;
  padding: 10px 50px; 
  border-radius: 5px; 
  animation: slideIn 0.5s forwards; 
  font-size: 16px;
}

.text-container {
  position: relative;
  width: 200px; 
  height: 200px; 
}


/* header */

.bg-container {
  max-width: 100vw;
  height: 100vh;
  background-image: url(../images/bg-top-defis.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
}

header {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 4px 4px 2px rgba(146, 146, 146, 0.8);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
}


header h2 {
    font-size: 35px;
}

header h1 {
    font-size: 70px;
    margin: 50px 0;
}

header p {
    font-size: 25px;
}

/* section defis quotidien */

.quotidien {
  padding: 0 100px;
  display: flex;
}

/* left */

.left {
  width: 50vw;
  padding: 0 100px;
}

.left img {
  margin-top: 20vh;
  margin-left: 25%;
  transform: scale(1.5);
}

.left h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.left p {
  font-size: 20px;
}


/* right */
.right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 10vh;  */
}


/* Animation bordure box */

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 25vh;
  /* font-family: 'Raleway'; */
  font-size: 2.5rem;
}
.box {
  --borderWidth: 3px;
  background: #92fcad /*#86ACC6*/;
  position: relative;
  border-radius: var(--borderWidth);
  margin: 40px 0;
  padding: 20px 0;
  color: #421800;
}
.box:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.right .box .test {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: grey; */
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.box h3 {
  font-size: 25px;
}

.box p {
  font-size: 16px;
}

.icon {
  /* background-color: red; */
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  background-color: rgba(66, 66, 66, 0.3);
  width: 5.5vw;
  height: 11.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid #421800;
}

/* Description des défis */
.description {
  width: 70%;
  height: 100%;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description h3 {
  margin-bottom: 10px;
  font-size: 25px;
}

.description p {
  font-size: 16px;
  margin-bottom: 10px;
}



h6 {
  margin: 0;
  font-size: 18px;
}

/* animation barre de progression */
.progress-bar__wrapper {
  position: relative;
}
.progress-bar__value {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: black;
  font-weight: bold;
}
progress {
  width: 90%;
  height: 20px;
  border-radius: 50px;
  background-color: #ddd;
  transition: width 300ms ease;
}
progress[value]::-webkit-progress-bar {
  width: 100%;
  height: 20px;
  border-radius: 50px;
  background-color: #ddd;
  transition: width 300ms ease;
}
progress[value]::-webkit-progress-value {
  width: 0;
  border-radius: 50px;
  background-color: rgb(21, 187, 21);
  transition: width 300ms ease;
}

#progress-bar {
  width: 18vw;
}

/* Boutons */
.submit-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  margin-top: 10px; 
}

.btn {
  margin: 0 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: auto;
  width: auto;
  padding: 10px 20px;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 3px 4px 3px 0px #666666;
  background-color: #BDE3FF;
  color: black;
  border: 1px solid #384955;
  transition: 0.3s ease;
}

.register-btn:hover {
  background-color: #384955;
  color: white;
  border: 1px solid #BDE3FF;
  transform: scale(1.1);
}


/* alldefis */

ul {
  list-style: none;
}

.alldefis {
  margin-top: 150px;
  padding: 0 200px;
}

.defis-filtre {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(237, 237, 237, 0.6);
  flex-wrap: wrap;
  margin: 20px;
}

.defis-filtre li {
  margin: 10px 100px;
  padding: 5px 20px;
  color: #9b9b9b;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
  transition: 0.3s ease;
}

.defis-filtre-active {
  background-color: #f0f0f0;
  color: #272727;
}

.defis-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: auto;
  /* background-color: red; */
}

.all-box {
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
  color: #421800;
  width: 30%;
  min-height: 40vh;
  background-color: #92fcad;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.all-box:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.all-box h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.all-box p {
  font-size: 20px;
  text-align: center;
}