*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

    
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("../images/ban5.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: red;

}
.blog-heading h3{
    font-size: 2.4rem;
    color:#2b2b2b ;
    font-weight: 600;

}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap : wrap;

}

.blog-box{

    width: 350px;
    background-color: white;
    border: 1px solid #ececec;

}
.blog-img{
    width: 100%;
    height:auto;
}

.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center ;
}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;

}

.blog-text span{
    color: rgb(255, 112, 112);
    font-size: 0.9rem;
}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #2b2b2b;

}

.blog-text .blog-title:hover{
    color: rgb(255, 112, 112);
    transition: all ease 0.3s;
    
}

.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box ;
    -webkit-line-clamp: 3 ;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;

}

.blog-text a{
    color: black;
}

.blog-text a:hover{
    color: rgb(255, 112, 112);
    transition: all ease 0.3s;

}

@media(max-width:1250px) {
    .blog-box{
        width:300px;

    }
    
}

/* ---------------------------POSTS------------------------- */
input{
    display: none;
}
.container{
    width: 100%;
    text-align: center;
}
h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

h1::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #B5FF6D;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}

.top-content{
    background-color: #BDE3FF;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #BDE3FF;
}

h3{
    height: 100%;
    background-color: #B5FF6D;
    line-height:60px;
    padding: 0 50px;
    color: white;
}

label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor : pointer;
    transition: color .5;
}

label:hover{
    color: black;
}

.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;


}

.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: .5s;

}

/* .pic::before{
    content: "POST";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 22px ;
    font-weight: bold;
    width: 100%;
    margin-top: -100px;
    opacity: 0;
    transition: .3s;
    transition-delay: .2s;
    z-index: 1;

} */

.pic:after{
    content:"";
    position: absolute;
    bottom: 0;
    left:0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,.4); */
    transition: .3s;
}

.pic:hover::after{
    height:100%;

}

/* .pic:hover::before{
    margin-top:0;
    opacity: 1;

} */

#check1:checked ~ .container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check3:checked ~ .container .photo-gallery .child{
    opacity: 1;
    transform: scale(1);
    position: relative;

}
#check3:checked ~ .container .photo-gallery .family,
#check3:checked ~ .container .photo-gallery .place{
    
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;


}
#check4:checked ~ .container .photo-gallery .place{
    opacity: 1;
    transform: scale(1);
    position: relative;

}
#check4:checked ~ .container .photo-gallery .family,
#check4:checked ~ .container .photo-gallery .child{
    
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;


}

/* --------------------FORmulaire------------ */

#add-post{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
}
#post-form {
    background-image: url(../images/ban3.jpg);
    padding: 20px;
    border-radius: 10px;
    color: #fff; 
    width: 500px;
    padding: 50px;
  }
  
  #post-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  #post-form input[type="text"],
  #post-form textarea,
  #post-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); 
  }
  
  #post-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #fff;
    color: #153125;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #post-form button[type="submit"]:hover {
    background-color: #153125;
    color: white;
  }

