* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* hamburger */

#burger-menu {
    position: absolute;
    top: 5vh;
    left: 95vw;
    cursor: pointer;
    height: 27px;
    width: 27px;
    overflow: visible;
    z-index: 2;
    display: block;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    background: black;
    display: block;
    height: 3px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
    content: "";
}

#burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 35px;
}

#burger-menu span {
    right: 0px;
    top: 13px;
    width: 35px;
}

#burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 35px;
}

#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 35px;
}

#burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 35px;
}

#burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

/* menu */
.info {
    width: 50vw;
    height: 12vh;
    background-color: rgba(255, 107, 132, 0.5);
    position: absolute;
    top: 5vh;
    left: 28vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.info h2 {
    font-size: 40px;
}

.btn-form {
    width: 8vw;
    border-radius: 32px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bde3ff;
    border: 2px solid #384955;
    transition: 0.3s ease;
    cursor: pointer;
    font-family: "Jua",sans-serif;
    margin: 0 auto; 

    font-size: 16px;
}

.btn-form:hover, #ouvrirFormulaire:hover {
    background-color: #384955;
    border: 1px solid #bde3ff;
    transform: scale(1.1);
    color: white;
}

.deco {
    position: absolute;
    top: 3vh;
    left: 2vw;
    width: 8vw;
    border-radius: 32px;
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffb6c1;
    border: 2px solid black;
    transition: 0.3s ease;
    cursor: pointer;
    z-index: 9999;
}

.deco:hover {
    background-color: rgb(255, 107, 132);
    border: 1px solid white;
    transform: scale(1.1);
    color: white;
}

/* menu */
#menu {
    z-index: 1;
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

#menu.overlay {
    visibility: visible;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

/* Map dans hamburger */
.image-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.point a {
    text-decoration: none;
}

.point a i {
    font-size: 7vh;
    color: rgb(255, 107, 132);
    cursor: pointer;
}

.point:hover {
    animation-play-state: paused;
}

.profil_point {
    position: absolute;
    top: 45vh;
    left: 49vw;
    animation: float 2s infinite;
}

.shop_point {
    position: absolute;
    top: 68.5vh;
    left: 50.5vw;
    animation: float 2s infinite;
    animation-delay: 0.5s;
}

.defis_point {
    position: absolute;
    top: 20vh;
    left: 41.5vw;
    animation: float 2s infinite;
    animation-delay: 1s;
}

.reseau_point {
    position: absolute;
    top: 59.5vh;
    left: 40.5vw;
    animation: float 2s infinite;
    animation-delay: 1.5s;
}

.dashboard_point {
    position: absolute;
    top: 31vh;
    left: 61.5vw;
    animation: float 2s infinite;
    animation-delay: 2s;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/* text-container */
@keyframes slideIn {
    0% { opacity: 0; transform: translateX(-20px); }
    100% { opacity: 1; transform: translateX(0); }
}
      
      .point:hover::before {
        content: attr(data-text);
        position: absolute;
        top: -5vh; /* Ajustez la position verticale du texte */
        left: -2.5vw;
        transform: translateX(-50%);
        background-color: rgb(255, 107, 132, 0.9); /* Couleur de fond du texte */
        color: white; /* Couleur du texte */
        font-weight: bold;
        padding: 10px 50px; /* Espace intérieur du texte */
        border-radius: 5px; /* Arrondi des coins */
        animation: slideIn 0.5s forwards; /* Applique l'animation d'apparition */
        font-size: 16px;
      }
      
      .text-container {
        position: relative;
        width: 200px; /* Ajustez la largeur du conteneur selon vos besoins */
        height: 200px; /* Ajustez la hauteur du conteneur selon vos besoins */
      }



a{
    text-decoration: none;
}

ul{
    list-style: none;
}
body{
    margin: 0;
    padding: 0;
    background-image: url("../images/ban5.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.blog-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.blog-heading span{
    color: red;

}
.blog-heading h3{
    font-size: 2.4rem;
    color:#2b2b2b ;
    font-weight: 600;

}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap : wrap;

}

.blog-box{
    width: 350px;
    background-color: white;
    border: 1px solid #ececec;

}
.blog-img{
    width: 100%;
    height:auto;
}

.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center ;
}

.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;

}

.blog-text span{
    color: rgb(255, 112, 112);
    font-size: 0.9rem;
}

.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #2b2b2b;

}

.blog-text .blog-title:hover{
    color: rgb(255, 112, 112);
    transition: all ease 0.3s;
    
}

.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box ;
    -webkit-line-clamp: 3 ;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;

}

.blog-text a{
    color: black;
}

.blog-text a:hover{
    color: rgb(255, 112, 112);
    transition: all ease 0.3s;

}

@media(max-width:1250px) {
    .blog-box{
        width:300px;

    }
    
}

/* ---------------------------POSTS------------------------- */
.custom-post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    height: 20vh;
    padding: 10px;
    box-sizing: border-box;
}

.custom-post-container .custom-post-image img {
    width: 100%;
    height: 40vh;
}

.custom-post-container .custom-post-info {
    text-align: center;
}



input{
    display: none;
}

.container{
    width: 100%;
    text-align: center;
    margin-top: 40vh;
}

.post-container {
    position: relative;
    width: 60vw;
    padding: 20px;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
    background-color: #deb95c;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    border: solid black 2px;
    align-items: center;
}

.post-container .top-left-text {
    position: absolute; /* Positionnement absolu */
    top: 5%; /* Distance depuis le haut */
    left: 50%; /* Distance depuis la gauche */
    color: black; /* Couleur du texte */
    font-size: 24px; /* Taille du texte */
}

.post-container .comment {
    position: absolute; /* Positionnement absolu */
    top: 25%; /* Distance depuis le haut */
    left: 50%; /* Distance depuis la gauche */
    color: black; /* Couleur du texte */
    font-size: 20px; /* Taille du texte */
}


/* .post-container::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: 15px;
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
 */



.post-container img {
    width: 100%; /* Largeur de l'image */
    height: auto; /* Hauteur automatique pour conserver les proportions */
    object-fit: cover; /* Pour s'assurer que l'image est bien ajustée */
}

h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}

h1::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #B5FF6D;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate{
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 100px;
    }
}

.top-content{
    background-color: #BDE3FF;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #BDE3FF;
}

h3{
    height: 100%;
    background-color: #B5FF6D;
    line-height:60px;
    padding: 0 50px;
    color: white;
}

label{
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 18px;
    color: gray;
    cursor : pointer;
    transition: color .5;
}

label:hover{
    color: black;
}

.photo-gallery{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

.pic{
    position: relative;
    height: 230px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgray;
    cursor: pointer;
    transition: .5s;


}

.pic img {
    width: 100%;
    height: 100%; /* Utiliser 'auto' pour conserver les proportions de l'image */
    object-fit: cover; /* Redimensionner l'image pour remplir complètement le conteneur tout en conservant les proportions */
}

.pic:after{
    content:"";
    position: absolute;
    bottom: 0;
    left:0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: .3s;
}

.pic:hover::after{
    height:100%;
}

#check1:checked ~ .container .photo-gallery .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: .5s;
}
#check3:checked ~ .container .photo-gallery .child{
    opacity: 1;
    transform: scale(1);
    position: relative;

}
#check3:checked ~ .container .photo-gallery .family,
#check3:checked ~ .container .photo-gallery .place{
    
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;


}
#check4:checked ~ .container .photo-gallery .place{
    opacity: 1;
    transform: scale(1);
    position: relative;

}
#check4:checked ~ .container .photo-gallery .family,
#check4:checked ~ .container .photo-gallery .child{
    
    opacity: 0;
    transform: scale(0);
    position: absolute;
    transition: .0s;


}

/* --------------------FORmulaire------------ */

#add-post{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px;
}
#post-form {
    background-image: url(../images/ban3.jpg);
    padding: 20px;
    border-radius: 10px;
    color: #fff; 
    width: 500px;
    padding: 50px;
  }
  
  #post-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  #post-form input[type="text"],
  #post-form textarea,
  #post-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); 
  }
  
  /* #post-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #fff;
    color: #153125;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } */
  
  /* #post-form button[type="submit"]:hover {
    background-color: #153125;
    color: white;
  } */










  #add-post {
    display: none; /* Cache le formulaire d'ajout de post */
}

    #ouvrirFormulaire {
    position: fixed;
    bottom: 5%;
    right: 5%;
    border-radius: 100%;
    font-size: 24px;
    width: 4.5vw;
    height: 7.5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #bde3ff;
    border: 2px solid #384955;
    transition: 0.3s ease;
    cursor: pointer;
}





.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
}

/* Style pour le bouton de fermeture */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}