
body {
    min-height: 100vh;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
}

p {
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
}

.bg-background {
    height: 100vh;
    width: 100vw;
    /* background-color: #98CE94; */
    background-image: url(../images/items/ban5.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}




.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh;
}

.container .logo {
    /* width: 100%; */
    margin-bottom: 150px;
    transform: scale(4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

input {
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    height: 8vh;
    border-radius: 16px;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
    box-shadow: 5px 5px 5px 0px #666666;
}

#id {
    margin-bottom: 50px;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn {
    margin: 0 20px;
    height: 5vh;
    width: 35%;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 3px 4px 3px 0px #666666;
}

.register-btn {
    background-color: #098815;
    color: white;
    border: 2px solid white;
    transition: 0.3s ease;
}

.register-btn:hover {
    background-color: white;
    color: #098815;
    transform: scale(1.1);
}

.connect-btn {
    background-color: #BDE3FF;
    border: 2px solid #384955;
    transition: 0.3s ease;
    color: black;
}

.connect-btn:hover {
    background-color: #384955;
    border: 1px solid #BDE3FF;
    color: white;
    transform: scale(1.1);
}

.other {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other p {
    color: black;
}

.other-container {
    display: flex;
}

img {
    border-radius: 100%;
    width: 3vw;
    height: 6vh;
    transition: 0.3s;
    margin: 0 5px;
}

img:hover {
    transform: scale(1.1);
}



